USE [master]
GO
/****** Object:  Database [dentistry]    Script Date: 25.06.2022 9:54:02 ******/
CREATE DATABASE [dentistry]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dentistry', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL15.MMMSQL\MSSQL\DATA\dentistry.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dentistry_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL15.MMMSQL\MSSQL\DATA\dentistry_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dentistry].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dentistry]
GO
/****** Object:  Table [dbo].[Врачи]    Script Date: 25.06.2022 9:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Врачи](
	[Код_врача] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NULL,
	[Номер_расписания] [int] NOT NULL,
	[Специальность] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Врачи] PRIMARY KEY CLUSTERED 
(
	[Код_врача] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Диагноз]    Script Date: 25.06.2022 9:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Диагноз](
	[Код_диагноза] [int] NOT NULL,
	[Диагноз] [nvarchar](max) NULL,
 CONSTRAINT [PK_Диагноз] PRIMARY KEY CLUSTERED 
(
	[Код_диагноза] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Записи_На_Прием]    Script Date: 25.06.2022 9:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Записи_На_Прием](
	[Код_Записи] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NULL,
	[Время_Приема] [nvarchar](50) NOT NULL,
	[Дата_Приема] [date] NOT NULL,
	[Кабинет] [int] NULL,
	[Код_Врача] [int] NULL,
	[Номер_Карты] [int] NULL,
 CONSTRAINT [PK_Запись_На_Прием] PRIMARY KEY CLUSTERED 
(
	[Код_Записи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Карта]    Script Date: 25.06.2022 9:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Карта](
	[Код_Карты] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NULL,
	[Телефон] [bigint] NULL,
	[Дата_рождения] [date] NOT NULL,
	[Страховой_Полис] [numeric](18, 0) NULL,
	[Диагноз] [nvarchar](max) NULL,
	[Предоставленные_услуги] [nvarchar](max) NULL,
	[Описание_приема] [nvarchar](max) NULL,
 CONSTRAINT [PK_Пациент] PRIMARY KEY CLUSTERED 
(
	[Код_Карты] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Оказанные_Услуги]    Script Date: 25.06.2022 9:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Оказанные_Услуги](
	[Код_Оказ_Усл] [int] IDENTITY(1,1) NOT NULL,
	[Код_Услуги] [int] NOT NULL,
	[Код_Посещения] [int] NOT NULL,
 CONSTRAINT [PK_Оказанные_Услуги] PRIMARY KEY CLUSTERED 
(
	[Код_Оказ_Усл] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 25.06.2022 9:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[Код_Пользователя] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия_Пользователя] [nvarchar](max) NOT NULL,
	[Имя_Пользователя] [nvarchar](max) NOT NULL,
	[Отчество_Пользователя] [nvarchar](max) NULL,
	[Логин_Пользователя] [nvarchar](max) NOT NULL,
	[Пароль_Пользователя] [nvarchar](max) NOT NULL,
	[Роль_Пользователя] [int] NOT NULL,
 CONSTRAINT [PK_Пользователи] PRIMARY KEY CLUSTERED 
(
	[Код_Пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Посещения]    Script Date: 25.06.2022 9:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Посещения](
	[Код_Посещения] [int] IDENTITY(1,1) NOT NULL,
	[Код_Диагноза] [int] NOT NULL,
	[Код_Карты] [int] NOT NULL,
	[Код_Записи] [int] NOT NULL,
	[Код_Услуги] [int] NOT NULL,
 CONSTRAINT [PK_Посещения] PRIMARY KEY CLUSTERED 
(
	[Код_Посещения] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Приемы]    Script Date: 25.06.2022 9:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Приемы](
	[Код_записи] [int] IDENTITY(1,1) NOT NULL,
	[Код_Врача] [int] NULL,
	[Дата_Приема] [date] NULL,
 CONSTRAINT [PK_Приемы] PRIMARY KEY CLUSTERED 
(
	[Код_записи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Расписание]    Script Date: 25.06.2022 9:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Расписание](
	[Код_Расписания] [int] IDENTITY(1,1) NOT NULL,
	[Код_Врача] [int] NOT NULL,
	[Пн] [nvarchar](50) NULL,
	[Вт] [nvarchar](50) NULL,
	[Ср] [nvarchar](50) NULL,
	[Чт] [nvarchar](50) NULL,
	[Пт] [nvarchar](50) NULL,
	[Сб] [nvarchar](50) NULL,
	[Вс] [nvarchar](50) NULL,
	[Кабинет] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Расписание] PRIMARY KEY CLUSTERED 
(
	[Код_Расписания] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роли]    Script Date: 25.06.2022 9:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роли](
	[Код_Роли] [int] NOT NULL,
	[Роль] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Роли] PRIMARY KEY CLUSTERED 
(
	[Код_Роли] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги]    Script Date: 25.06.2022 9:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги](
	[Код_Услуги] [int] NOT NULL,
	[Наименование_Услуги] [nvarchar](max) NOT NULL,
	[Стоимость_Услуги] [int] NULL,
 CONSTRAINT [PK_Услуги] PRIMARY KEY CLUSTERED 
(
	[Код_Услуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Врачи] ON 

INSERT [dbo].[Врачи] ([Код_врача], [Фамилия], [Имя], [Отчество], [Номер_расписания], [Специальность]) VALUES (1, N'Белоусов', N'Макар', N'Михайлович', 1, N'Стоматолог - ортодонт')
INSERT [dbo].[Врачи] ([Код_врача], [Фамилия], [Имя], [Отчество], [Номер_расписания], [Специальность]) VALUES (2, N'Герасимов', N'Аввакум', N'Артемович', 2, N'Стоматолог-ортопед')
INSERT [dbo].[Врачи] ([Код_врача], [Фамилия], [Имя], [Отчество], [Номер_расписания], [Специальность]) VALUES (3, N'Блохин', N'Леонтий', N'Натанович', 3, N'Стоматолог-терапевт')
SET IDENTITY_INSERT [dbo].[Врачи] OFF
GO
INSERT [dbo].[Диагноз] ([Код_диагноза], [Диагноз]) VALUES (1, N'КАРИЕС')
INSERT [dbo].[Диагноз] ([Код_диагноза], [Диагноз]) VALUES (2, N'КЛИНОВИДНЫЙ ДЕФЕКТ')
INSERT [dbo].[Диагноз] ([Код_диагноза], [Диагноз]) VALUES (3, N'КОРНЕВЫЕ КИСТЫ')
GO
SET IDENTITY_INSERT [dbo].[Записи_На_Прием] ON 

INSERT [dbo].[Записи_На_Прием] ([Код_Записи], [Фамилия], [Имя], [Отчество], [Время_Приема], [Дата_Приема], [Кабинет], [Код_Врача], [Номер_Карты]) VALUES (59, N'Косов', N'Сергей', N'Сергеевич', N'10:30', CAST(N'2022-06-25' AS Date), 11, 1, 7)
SET IDENTITY_INSERT [dbo].[Записи_На_Прием] OFF
GO
SET IDENTITY_INSERT [dbo].[Карта] ON 

INSERT [dbo].[Карта] ([Код_Карты], [Фамилия], [Имя], [Отчество], [Телефон], [Дата_рождения], [Страховой_Полис], [Диагноз], [Предоставленные_услуги], [Описание_приема]) VALUES (6, N'Батурин', N'Дмитрий', N'Николаевич', 89542658793, CAST(N'1990-02-09' AS Date), CAST(987451236 AS Numeric(18, 0)), NULL, N'Батурин Дмитрий Николаевич', NULL)
SET IDENTITY_INSERT [dbo].[Карта] OFF
GO
SET IDENTITY_INSERT [dbo].[Оказанные_Услуги] ON 

INSERT [dbo].[Оказанные_Услуги] ([Код_Оказ_Усл], [Код_Услуги], [Код_Посещения]) VALUES (2, 10, 8)
SET IDENTITY_INSERT [dbo].[Оказанные_Услуги] OFF
GO
SET IDENTITY_INSERT [dbo].[Пользователи] ON 

INSERT [dbo].[Пользователи] ([Код_Пользователя], [Фамилия_Пользователя], [Имя_Пользователя], [Отчество_Пользователя], [Логин_Пользователя], [Пароль_Пользователя], [Роль_Пользователя]) VALUES (0, N'Рябов', N'Сергей', N'Макарович', N'fdhgjkh', N'dgfhjke34', 3)
INSERT [dbo].[Пользователи] ([Код_Пользователя], [Фамилия_Пользователя], [Имя_Пользователя], [Отчество_Пользователя], [Логин_Пользователя], [Пароль_Пользователя], [Роль_Пользователя]) VALUES (1, N'Белоусов', N'Макар', N'Михайлович', N'beloysov', N'beloysov', 1)
INSERT [dbo].[Пользователи] ([Код_Пользователя], [Фамилия_Пользователя], [Имя_Пользователя], [Отчество_Пользователя], [Логин_Пользователя], [Пароль_Пользователя], [Роль_Пользователя]) VALUES (2, N'Герасимов', N'Аввакум', N'Артемович', N'tryretytrf', N'534ub7fdg34', 1)
SET IDENTITY_INSERT [dbo].[Пользователи] OFF
GO
SET IDENTITY_INSERT [dbo].[Посещения] ON 

INSERT [dbo].[Посещения] ([Код_Посещения], [Код_Диагноза], [Код_Карты], [Код_Записи], [Код_Услуги]) VALUES (8, 7, 7, 5, 10)
SET IDENTITY_INSERT [dbo].[Посещения] OFF
GO
SET IDENTITY_INSERT [dbo].[Приемы] ON 

INSERT [dbo].[Приемы] ([Код_записи], [Код_Врача], [Дата_Приема]) VALUES (5, 1, CAST(N'2022-06-25' AS Date))
SET IDENTITY_INSERT [dbo].[Приемы] OFF
GO
SET IDENTITY_INSERT [dbo].[Расписание] ON 

INSERT [dbo].[Расписание] ([Код_Расписания], [Код_Врача], [Пн], [Вт], [Ср], [Чт], [Пт], [Сб], [Вс], [Кабинет]) VALUES (1, 1, N'08:00-16:00', N'08:00-16:00', N'08:00-16:00', N'Выходной', N'08:00-16:00', N'08:00-16:00', N'08:00-12:00', N'11')
INSERT [dbo].[Расписание] ([Код_Расписания], [Код_Врача], [Пн], [Вт], [Ср], [Чт], [Пт], [Сб], [Вс], [Кабинет]) VALUES (2, 2, N'14:00 - 21:00', N'14:00 - 22:00', N'14:00 - 22:00', N'14:00 - 22:00', N'Выходной', N'14:00 - 22:00', N'14:00 - 20:00', N'12')
INSERT [dbo].[Расписание] ([Код_Расписания], [Код_Врача], [Пн], [Вт], [Ср], [Чт], [Пт], [Сб], [Вс], [Кабинет]) VALUES (3, 3, N'10:00 - 18:00', N'10:00 - 18:00', N'10:00 - 18:00', N'10:00 - 18:00', N'10:00 - 18:00', N'Выходной', N'10:00 - 16:00', N'13')
SET IDENTITY_INSERT [dbo].[Расписание] OFF
GO
INSERT [dbo].[Роли] ([Код_Роли], [Роль]) VALUES (1, N'Врач')
INSERT [dbo].[Роли] ([Код_Роли], [Роль]) VALUES (2, N'Руководитель')
INSERT [dbo].[Роли] ([Код_Роли], [Роль]) VALUES (3, N'Администратор системы')
GO
INSERT [dbo].[Услуги] ([Код_Услуги], [Наименование_Услуги], [Стоимость_Услуги]) VALUES (1, N'Консультация стоматолога', 300)
INSERT [dbo].[Услуги] ([Код_Услуги], [Наименование_Услуги], [Стоимость_Услуги]) VALUES (2, N'Лечение глубокого кариеса', 3000)
INSERT [dbo].[Услуги] ([Код_Услуги], [Наименование_Услуги], [Стоимость_Услуги]) VALUES (3, N'Лечение кариеса лазером', 6500)
GO
ALTER TABLE [dbo].[Записи_На_Прием]  WITH CHECK ADD  CONSTRAINT [FK_Запись_На_Прием_Врачи] FOREIGN KEY([Код_Врача])
REFERENCES [dbo].[Врачи] ([Код_врача])
GO
ALTER TABLE [dbo].[Записи_На_Прием] CHECK CONSTRAINT [FK_Запись_На_Прием_Врачи]
GO
ALTER TABLE [dbo].[Записи_На_Прием]  WITH CHECK ADD  CONSTRAINT [FK_Запись_На_Прием_Пациент] FOREIGN KEY([Номер_Карты])
REFERENCES [dbo].[Карта] ([Код_Карты])
GO
ALTER TABLE [dbo].[Записи_На_Прием] CHECK CONSTRAINT [FK_Запись_На_Прием_Пациент]
GO
ALTER TABLE [dbo].[Оказанные_Услуги]  WITH CHECK ADD  CONSTRAINT [FK_Оказанные_Услуги_Посещения] FOREIGN KEY([Код_Посещения])
REFERENCES [dbo].[Посещения] ([Код_Посещения])
GO
ALTER TABLE [dbo].[Оказанные_Услуги] CHECK CONSTRAINT [FK_Оказанные_Услуги_Посещения]
GO
ALTER TABLE [dbo].[Оказанные_Услуги]  WITH CHECK ADD  CONSTRAINT [FK_Оказанные_Услуги_Услуги] FOREIGN KEY([Код_Услуги])
REFERENCES [dbo].[Услуги] ([Код_Услуги])
GO
ALTER TABLE [dbo].[Оказанные_Услуги] CHECK CONSTRAINT [FK_Оказанные_Услуги_Услуги]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [FK_Пользователи_Роли] FOREIGN KEY([Роль_Пользователя])
REFERENCES [dbo].[Роли] ([Код_Роли])
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [FK_Пользователи_Роли]
GO
ALTER TABLE [dbo].[Посещения]  WITH CHECK ADD  CONSTRAINT [FK_Посещения_Диагноз] FOREIGN KEY([Код_Диагноза])
REFERENCES [dbo].[Диагноз] ([Код_диагноза])
GO
ALTER TABLE [dbo].[Посещения] CHECK CONSTRAINT [FK_Посещения_Диагноз]
GO
ALTER TABLE [dbo].[Посещения]  WITH CHECK ADD  CONSTRAINT [FK_Посещения_Пациент] FOREIGN KEY([Код_Карты])
REFERENCES [dbo].[Карта] ([Код_Карты])
GO
ALTER TABLE [dbo].[Посещения] CHECK CONSTRAINT [FK_Посещения_Пациент]
GO
ALTER TABLE [dbo].[Посещения]  WITH CHECK ADD  CONSTRAINT [FK_Посещения_Приемы] FOREIGN KEY([Код_Записи])
REFERENCES [dbo].[Приемы] ([Код_записи])
GO
ALTER TABLE [dbo].[Посещения] CHECK CONSTRAINT [FK_Посещения_Приемы]
GO
ALTER TABLE [dbo].[Приемы]  WITH CHECK ADD  CONSTRAINT [FK_Приемы_Врачи] FOREIGN KEY([Код_Врача])
REFERENCES [dbo].[Врачи] ([Код_врача])
GO
ALTER TABLE [dbo].[Приемы] CHECK CONSTRAINT [FK_Приемы_Врачи]
GO
ALTER TABLE [dbo].[Расписание]  WITH CHECK ADD  CONSTRAINT [FK_Расписание_Врачи] FOREIGN KEY([Код_Врача])
REFERENCES [dbo].[Врачи] ([Код_врача])
GO
ALTER TABLE [dbo].[Расписание] CHECK CONSTRAINT [FK_Расписание_Врачи]
GO
USE [master]
GO
